body {
	background: url(tropics.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#game {
	border-radius: 50%;
	margin:auto;
	margin-top: 60px;
	width:500px;
	height:500px;
	overflow: hidden;
	box-shadow: 0px 0px 50px black;
}

.startgame {
	margin:auto;
	margin-top: 30px;
	width:500px;
	border-radius: 10px;
	background-color: #E82200;
	font-family: 'Shrikhand', cursive;
	font-size: 1.5em;
	text-align: center;
	color:white;
	box-shadow: 0px 0px 50px black;
}

.disabled {
	cursor: default;
    pointer-events: none;
}

.enabled {
	cursor: pointer;
    pointer-events: auto;
}

.playagain {
	margin-top: 15px;
	width:200px;
	background-color: #05B22B;
}

.square {
	width:50%;
	height:50%;
}

.extinguish {
	background-color: #666666 !important;
}

#top-left{
	float:left;
	background-color: #A6E817;
}

#top-right{
	float:right;
	background-color: #FFEB07;
}

#bottom-left{
	float:left;
	background-color: #1DC4BD;
}

#bottom-right{
	float: right;
	background-color: #FF5000;
}

@media (max-width: 600px) {
  #game {
	margin-top: 15px;
	width:300px;
	height:300px;
	}

.startgame {
	margin-top: 15px;
	width:300px;
	font-size: 1em;
}

.playagain {
	margin-top: 15px;
	width:150px;
}

}
